<%- include('../partials/header.ejs') %>
    <main class="container">
        <section class="item">
            <picture class="item__img card-item__cover"">
                <img src="/img<%= prodRows.img_front %>" alt="Figura coleccionable Funko de Baby Yoda" class="card-item__img--front">
                <img src="/img<%= prodRows.img_back %>"  alt="Figura coleccionable Funko de Baby Yoda en caja" class="card-item__img--back">
            </picture>
            <article class="item__info">
                <p class="item__license"><%= licRows.licence_name %></p>
                <h3 class="item__name"><%= prodRows.product_name %></h3>
                <p class="item__description"><%= prodRows.product_description %></p>
                <p class="item__price">$ <%= prodRows.product_price %></p>
                <div class="item__cart">
                    <input class="item__input" type="text" name="quantity" id="quantity" placeholder="0">
                    <div class="item__quantity-buttons">
                        <button id="add" class="item__quantity" type="button">+</button>
                        <button id="substract" class="item__quantity" type="button">-</button>
                    </div>
                    <button class="item__submit card-item__tag btn btn--primary btn--medium" type="submit">Agregar al Carrito</button>
                </div>
                <p class="item__promo"><a href="">Ver métodos de pago</a> - 3 CUOTAS SIN INTERÉS</p>
            </article>
        </section>
        <section class="slider container glide">
            <h2 class="slider__title">PRODUCTOS RELACIONADOS</h2>
            <div class="glide__track" data-glide-el="track">
                <ul class="glide__slides">
                    <% prodSlider.forEach( item => { %>
                    <li class="glide__slide">
                        <article class="card-item">
                            <a class="card-item__link" href="/shop/item/<%= item.product_id %>">
                                <picture class="card-item__cover">
                                    <span class="card-item__tag">Nuevo</span>
                                    <img class="card-item__img--front" src="/img/<%= item.img_front %>" alt="Figura coleccionable Funko de un Stormtrooper">
                                    <img class="card-item__img--back" src="/img/<%= item.img_back %>" alt="Figura coleccionable Funko de un Stormtrooper en caja">    
                                </picture>
                                <div class="card-item__content">
                                    <p class="card-tem__license"><%= item.licRows.licence_name %></p>
                                    <h4 class="card-item__name"><%= item.product_name %></h4>
                                    <p class="card-item__price">$ 1799,99</p>
                                    <p class="card-item__promo">3 CUOTAS SIN INTERÉS</p>
                                </div>
                            </a>
                        </article>
                    </li>
                    
                    <% }) %>
                </ul>
            </div>
            <div class="glide__arrows" data-glide-el="controls">
                <button class="glide__arrow glide__arrow--left" data-glide-dir="<"><iconify-icon icon="ic:round-chevron-left" style="color: #30343f;" width="14"></iconify-icon></button>
                <button class="glide__arrow glide__arrow--right" data-glide-dir=">"><iconify-icon icon="ic:round-chevron-left" style="color: #30343f;" width="14" rotate="180deg"></iconify-icon></iconify-icon></button>
              </div>
        </section>
    </main>
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>
    <script src="../../js/glide.js"></script>
    <script src="../../js/item.js"></script>
    <%- include('../partials/footer.ejs') %>
</body>
</html>