<%- include('../partials/mainHeader.ejs') %>

        <main id="admin" class="container">
            <section class="admin__search">
                <iconify-icon class="admin__icon" icon="charm:search" onclick="realizarBusqueda()"></iconify-icon>
                <input class="admin__search-bar" type="text" name="search" id="search" placeholder="código, nombre, o categoría" />
            </section>
            <section class="admin__list">
                <div class="admin__header">
                    <h2>LISTADO DE PRODUCTOS</h2>
                    <span>AGREGAR<a href="/create"><iconify-icon id="add__icon" icon="bxs:plus-square"></iconify-icon></a></span>
                </div>
                <div class="admin-table">
                    <header id="table__header" class="admin-table__header">
                        <h3>ID</h3>
                        <h3>Código</h3>
                        <h3>Nombre del Producto</h3>
                        <h3>Categoría</h3>
                    </header>
                    <% (prodRows ? prodRows : []).forEach( item => { %>
                    <article id="table__row" class="admin-table__row">
                        <p><%= item?.product_id ?? "" %></p>
                        <p><%= item?.sku ?? ""  %></p>
                        <p><%= item?.product_name ?? ""  %></p>
                        <p>Figura Coleccionable</p>
                        <a href=""><iconify-icon class="pencil" icon="mdi:pencil" style="color: #1d84b5;"></iconify-icon></a>
                        <a href=""><iconify-icon class="trash" icon="heroicons-solid:trash" style="color:red;"></a>
                    </article>
                    <% }) %>
                </div>
            </section>      

    </main>
    <%- include('../partials/mainFooter.ejs') %>
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
    <script>
        function realizarBusqueda() {
        var search= document.getElementById('search').value;

        window.location.href = '/admin/' + encodeURIComponent(search);
    }
    </script>
</body>
</html>