<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar</title>
    <link href="../../css/index.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    <header>
        <nav class="navbar container">
            <picture class="navbar__logo">
                <a href="./index.html">
                    <img src="../../img/branding/logo_light_horizontal.svg" alt="isologotipo de la marca FUNKOSHOP">
                </a>
            </picture>
            <ul class="navbar__menu">
                <li class="navbar__item">
                    <a class="navbar__link" href="./pages/shop/shop.html">VER TIENDA</a>
                </li>
                <li class="navbar__item">
                    <a class="navbar__link" href="/pages/admin/admin.html">ADMIN</a>
                </li>
                <li class="navbar__item">
                    <a class="navbar__link" href="">SALIR</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>


      <main id="edit">
        <h2 class="edit__title">EDITAR ITEM</h2>
        <form class="edit__form" action="/admin/edit/1?_method=PUT" method="POST" enctype="multipart/form-data">
          <div class="form__flex">
          <div class="form__box--flex">
            <label class="form__label" for="collection">Categoría:</label>
            <select class="form__select" name="collection" id="collection" required>
              <option value="" disabled selected hidden>Seleccionar</option>
              <option value="Funkos">Funkos</option>
              <option value="LLaveros">LLaveros</option>
              <option value="Remeras">Remeras</option>
            </select>
          </div>
          <div class="form__box--flex">
            <label class="form__label" for="collection">Licencia:</label>
            <select class="form__select" name="collection" id="collection" required>
              <option value="" disabled selected hidden>Seleccionar</option>
              <option value="Star Wars">Star Wars</option>
              <option value="Pokemon">Pokemon</option>
              <option value="Harry Potter">Harry Potter</option>
            </select>
          </div>
          <div>
            <div class="form__box--flex">
              <label class="form__label" for="name">Nombre del producto:</label>
              <input class="form__input" type="text" name="name" id="name" placeholder="Nombre del producto" value="<%= prodRows.product_name %>" required />
            </div>
            <div>
              <textarea name="description" id="description" cols="40" rows="5" placeholder="Descripción del producto" required><%= prodRows.product_description %></textarea>
            </div>
            <div>
              <div class="form__flex">
                <div class="form__box--flex">
                  <label class="form__label" for="sku">SKU:</label>
                  <input class="form__input" type="text" name="sku" id="sku" placeholder="SKU del producto" value="<%= prodRows.sku %>" />
                </div>
                <div class="form__box--flex">
                  
                  <div class="form__box--flex">
                    <label class="form__label" for="price">Precio:</label>
                    <input class="form__input" type="text" name="price" id="price" data-type="currency" placeholder="$" value="$<%= prodRows.product_price %>" required />
                  </div>
                </div>
                <div class="form__box--flex">
                  <label class="form__label" for="stock">Stock:</label>
                  <div class="form__input--wrapper">
                    <input class="form__input" type="text" name="stock" id="stock" placeholder="Existencias del producto" value="<%= prodRows.stock %>" required /><span>unidades</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div>
            <input type="file" name="file1" id="file1" onchange="updateImagePreview(1)" />
            <input type="file" name="file2" id="file2" onchange="updateImagePreview(2)" />
            <br /><br />
            <picture>
              <img src="/img/<%= prodRows.img_front %>" id="funkoImg1" name="funkoImg1"/>
            </picture>
            <picture>
              <img src="/img/<%= prodRows.img_back %>" id="funkoImg2" name="funkoImg2" />
            </picture>
          </div>
          <input type="submit" id="edit__submit" value="Modificar Producto" />
          <input type="button" id="limpiar" value="Limpiar" />
        </div>
        </form>
      </main>

    <footer class="footer">
        <nav class="navbar container">
            <ul class="navbar__item">
                <li class="navbar__item">
                    <a class="navbar__link" href="./pages/shop/shop.html">SHOP</a>
                </li>
                <li class="navbar__item">
                    <a class="navbar__link" href="/pages/admin/register.html">REGISTRARSE</a>
                </li>
                <li class="navbar__item">
                    <a class="navbar__link" href="./pages/admin/login.html">INGRESAR</a>
                </li>
                <li class="navbar__item">
                    <a class="navbar__link" href="./pages/contact.html">CONTACTO</a>
                </li>
            </ul>
            <picture>
                <img src="../../img/branding/isotype.svg" alt="isologotipo de la marca FUNKOSHOP">
            </picture>
        </nav>
        <p class="footer__copy">All rights reserved 2023 - Funkoshop &copy;</p>
    </footer>
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
    <script>
      
      function updateImagePreview(index) {
        const fileInput = document.getElementById(`file${index}`);
        const funkoImage = document.getElementById(`funkoImg${index}`);

        if (fileInput.files.length > 0) {
          const selectedFile = fileInput.files[0];
    
          const newName = generateNewFileName(selectedFile.name);
          selectedFile.name = newName;
          const objectURL = URL.createObjectURL(selectedFile);
          funkoImage.src = objectURL;
        }
      }

      function generateNewFileName(originalName) {
        const timestamp = new Date().getTime();
  
        if (originalName.includes(".webp")) {
          let newName = originalName.replace(".webp", "-1.webp");
          return newName;
        } else {
          return `${originalName}-1.webp`;
        }
      }
  
    </script>
</body>
</html>